{% extends "base.html"%}
{% load static %}

{% block title%}Login{% endblock%}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-9 col-lg-8">
            <p class="h2 text-center my-3 " >Login</p>
            <form action="{% url 'authenicate:login' %}" method="post" class="mt-2">
                <label for="username">Username<span class="text-danger">*</span></label>
                <input name="username type="text class="form-control" required>

                <label for="password">Password<span class="text-danger" mt-2>*</span></label>
                <input name="password type="text class="form-control" required>

                <button class="btn btn-primary d-block w-100 my-3">Login</button>
            </form>
            {% comment %} #TODO: Create Username and Password validation methods using justify
                #->Ensure that the password has 8 or more xters
                #->Ensure that the password has both numbers and letters
                (Use AJAX) 
               {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}