<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Login for writers</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus omnis voluptatibus optio! Rerum, adipisci mollitia? Ipsum et distinctio fugit culpa dolorem consequatur, dolores nostrum, illum esse ea totam soluta placeat qui rem aut quos quas illo magnam aspernatur dolorum quisquam? Labore autem ab similique animi omnis nemo repellendus illo libero!


    </p>
    
</body>
</html>