<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About frontend</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, dolores possimus fugiat odit corrupti ab a aut minus, earum quam nisi delectus ut veritatis inventore commodi assumenda molestiae quaerat omnis? Vel, ad ipsa. Magni, autem voluptatibus? Praesentium, repudiandae aliquid. Voluptate?</p>
    
</body>
</html>