          {% extends "base.html" %}
          {% load static %}
          {% block script %} <link rel="stylesheet" href="{% static 'css/f_style.css' %}"> {% endblock %}
          {% block title %} Homepage {% endblock %}
          
          
          {% block content %} 
          <a href ="{% url 'frontend:about'%}">about</a>
          <a href ="{% url 'staff:writers'%}">writers</a>
          <a href ="{% url 'writers:login'%}">login</a>
          
          <img src="{% static 'images/images2.jpg' %}">
          {% if request.user and request.user.is_authenticated%}
          <h1>Hello{{request.user.username}}</h1>
          {% endif %}
          <p>
              <h2>{{names_list}}</h2>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab minus praesentium magnam, illo perspiciatis veritatis facilis itaque aliquam
               tenetur delectus necessitatibus fuga, officia, sequi veniam quam fugit reprehenderit sint et. Incidunt voluptates
                repellendus fugit alias accusantium repellat qui quo iste!
      
              {% for nm in names_list %}
                  <h2>{{ nm }}</h2>
              {% endfor %}
                <h3>{{paragraph}}</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo soluta tempora in mollitia impedit deleniti reiciendis nesciunt architecto earum error assumenda modi id vel dolor nisi et autem dolore voluptas illum nulla eum repudiandae, sed ab excepturi! Consectetur, doloremque sed debitis vero incidunt voluptatem, quod aliquid facere aspernatur architecto quam.
          
          
          {% endblock %}