<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href ="{% url 'frontend:about'%}">about</a>
    <h1> Home to {{name}}</h1>
    <p>
        <h2>{{names_list}}</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab minus praesentium magnam, illo perspiciatis veritatis facilis itaque aliquam
        <h3>{{paragraph}}</h3> tenetur delectus necessitatibus fuga, officia, sequi veniam quam fugit reprehenderit sint et. Incidunt voluptates repellendus fugit alias accusantium repellat qui quo iste!
        {% for nm in names_list %}
            <h2>{{ nm }}</h2>
        {% endfor %}
    </p>
    
</body>
</html>